<div class="jumbotron">
  <h1>Bloc Analytics</h1>
  <p>
    <% if user_signed_in? %>
      <h4> Welcome to Bloc Analytics, #{@current_user.username}! </h4>
      	<%= link_to "My apps", registered_applications_path, class: 'btn-primary btn-lg' %>
    <% else %>
      <p>
        <h4>Register your application to begin gathering insights.</h4>

        <%= link_to "Sign Up", new_user_registration_path, class: 'btn-primary btn-lg'%>
        <%= link_to "Sign In", new_user_session_path, class: 'btn-success btn-lg' %>
      </p>
      <% end %>
  </p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Free Plan</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="caption">
          <h3>Total # of Registered Apps</h3>
         	<p>Register as many apps as you want. For free.</p>
        </div>
      </div>
    </div>
  </div>





